@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
:root{
   --main-primary:#000;
   --main-color: #0065fc;
   --main-bg-color: #f2f2f2;
   --filter-bg-color: #deebff;
   --pure-white: #fff;
}

body{
   margin: 0 auto;
   width: 90rem;
}

#header{
   display: flex;
   height: 3.75rem;
   justify-content: space-between;
}

#logo_header{
   height: 1.625rem;
   margin-top: 1.125rem;
   width: 3.75rem;
}
nav{
   width: 15.625rem;
}
#nav_header{
   display: flex;
   height: 3.125rem;
   justify-content: space-around;
   list-style: none;
   margin-top: .125rem;
  
}

li{
   font-size: 1rem;
   font-weight: 500;
   padding-top: .625rem;
   
}
li :hover{
   color: #0065fc;
   border-top:1px solid #0065fc;
   padding-top: .625rem;
}
/*Filter*/
h1{
   font-family: 'raleway';
   font-size: 1.375rem;
   font-weight: 900;
   font-weight: bolder;
   margin: 1rem 0;
}
.info-filter{
    
      height: 9.5rem;
}
.info-filter p{
   font-family: 'raleway';
   font-size: 1rem;
}

form{
   display: flex;
   height: 2rem;
   margin: 2rem 0rem;
}
.search-zone{
   display: flex;
   align-items: center;
}
.fa-map-marker-alt{
   height: 2rem;
   width: 1.5625rem;
   display: grid;
   align-items: center;
   justify-content: center;
   background-color: #f2f2f2;
   border-radius: .625rem 0rem 0rem .625rem;
}
.btn-search{
   background: #0065fc;
   border-radius: 0rem .625rem .625rem 0rem;
   color: #fff;
}
input{
   display: grid;
   align-items: center;
   justify-items: center;
   width: 7.5rem;
}
input,
.btn-search {
   border: transparent;
   height: 32px;
}
.info-filter .search-icon {
   display: none;
}
.btn-filter-bar{
   height: 2.25rem;
   width: 8.125rem;
   border: #deebff solid 2px;
   border-radius: 1rem;
   margin-left: 2rem;
   padding: 0.5rem;
   text-align: center;
}