#header{
   display: flex;
   align-items: center;
   justify-content: space-between;
   margin-top: .3125rem;

}
.head-container{
   display: flex;
   align-items: center;
   justify-content: space-between;
   width: 100%;
}
.logo{
   border: 2px solid red;
   height: 2.125rem;
   margin-left: .625rem;
   width:50px;
}
nav{
   width: 15.625rem;
}
ul{
   display: flex;
   justify-content: space-around;
}
li{
   font-size: 1rem;
   font-weight: 500;
}
