:root{
   --main-color: #0065fc;
   --main-bg-color: #f2f2f2;
   --filter-bg-color: #deebff;
   --pure-white: #fff;
}

body{
   margin: 0 auto;
   width: 90rem;
}
#header{
   display: flex;
   align-items: center;
   justify-content: space-between;
   margin-top: .3125rem;

}
.head-container{
   background-color: aqua;
   display: flex;
   align-items: center;
   justify-content: space-between;
   height: 12.5rem;
   width: 100%;
}
.logo{
   border: 2px solid red;
   height: 1.625rem;
   margin-left: 1rem;
   width: 3.75rem;
}
nav{
   width: 15.625rem;
}
ul{
   display: flex;
   justify-content: space-around;
}
li{
   font-size: 1rem;
   font-weight: 500;
}
